<mat-card>
  <h4>What is needed?</h4>
  <p>
    ASP.NET Core 2.1.4 or higer (included in Visual Studio 15.8.4)
    <a href="https://www.microsoft.com/net/download/dotnet-core/2.1">https://www.microsoft.com/net/download/dotnet-core/2.1</a>
  </p>
  <p>
    Node 8.9 or higher, together with NPM 5.5.1 or higher
    <a href="https://nodejs.org/en/download">https://nodejs.org/en/download</a>
  </p>
  <p>
    Angular CLI: <strong>npm install -g @angular/cli</strong> on command line
  </p>
  <hr />
  <h4>Documentation</h4>
  <p>
    <a href="https://angular.io/docs">https://angular.io/docs</a>
  </p>
  <hr />
  <h4>Fast steps</h4>
  <ul>
    <li>
      Angular inside an ASP.NET app
    </li>
    <li>
      Node, npm and package.json
    </li>
    <li>
      Angular CLI
    </li>
    <li>
      Typescript
    </li>
    <li>
      Angular application structure
      <ul>
        <li>
          Main, polyfills, index.html
        </li>
        <li>
          App Module
        </li>
        <li>
          Components
          <ul>
            <li>
              HTML, css and implementation
            </li>
            <li>
              Properties, binding
            </li>
            <li>
              Events
            </li>
          </ul>
        </li>
        <li>
          Services
        </li>
      </ul>
    </li>
  </ul>
</mat-card>
