:host {
  display: flex;
  flex: 1;
}

mat-sidenav {
  width: 320px;
}

.content {
  padding: 12px;
}

.fab-bottom-right {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

/deep/ .mat-list-item-content {
  height: auto !important;
}
