<div fxLayout="column" fxFlex>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Angular Material</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlex>
    <nav mat-tab-nav-bar>
      <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
